.App {
  width: 80%;
  margin: auto;
}

.add-post-wrapper form {
  display: block;
}

section {
  width: 100%;
}

article {
  width: 100%;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 10px auto;
  text-align: start;
  padding-left: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
